{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "10.6"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
