import React from 'react';
import Cracked from 'app/components/Animation/Cracked';

import "./Landing.css";

const Landing = () => (
  <Cracked>
    <%= projectName %>
  </Cracked>
);

export default Landing;
