import React from 'react';
import { Switch } from 'react-router-dom';

import AppContainer from '<%= project %>/containers/App';
import HomePage from '<%= project %>/containers/Home';
import { PropsRoute } from '<%= project %>/components/PropsRoute';

const AppRoutes = (props) => (
  <AppContainer {...props}>
    <Switch>
      <PropsRoute path="/" component={HomePage} {...props} />
    </Switch>
  </AppContainer>
);

export default AppRoutes;
