import React from 'react';
import ReactDOM from 'react-dom';

import * as serviceWorker from '<%= project%>/service-worker';
import App from '<%= project%>/App';

ReactDOM.render(<App />, document.getElementById('app'));

// If you want your app to work offline and load faster, you can change
// unregister() to register() below. Note this comes with some pitfalls.
// Learn more about service workers: https://bit.ly/CRA-PWA
// serviceWorker.unregister();
serviceWorker.register();
